.m9{
    width: 380px;
background-color: white;
box-sizing: border-box;
padding: 10px;
border-radius: 5%;
}.sk{
   background-color: rgba(241, 247, 247, 0.63);
    display: flex;
    gap: 12px;
    flex-wrap: wrap;

}.sk1{
    width: 100%;
    height: 50%;
text-align: center;
border-radius: 3%;
}.u{
    width: 100%;
    text-align: center;
}