.App{
    border: 2px solid rebeccapurple;
   height: 100%;
    width: 100vw;
    position: relative;
}.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    background: linear-gradient(68deg,rgb(249, 250, 248) 50%,rgb(62, 163, 31) 50%);
justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 22;
    height: 5%;
text-decoration: none;
margin: 0%;
padding: 0%;
    
}.menui{
    display: flex;
    flex-wrap: wrap;
   flex-grow: 2;
   justify-content:space-evenly;
}.p{
 flex-grow: 1;
margin-left: 20px;
 font-size:bold;
 font-weight: bolder;
 }
 li {
text-decoration-line: none;   
list-style: none;
color: black;

}
@media  (max-width:360px) {
    .menui{
        display: none;
    }
    

}.rot{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   margin-left: 5%;
position: absolute;
width: 100%;
bottom: 0;
}